.profileImg{
    border-radius: 50%;
    width: 15em;
}

.aboutusBackground-main{
    background-color: white;
    border-radius: 1em;
}

.aboutus-title{
    font-family: "SF Pro Display",
        "SF Pro Icons",
        "Helvetica Neue",
        "Helvetica",
        "Arial",
        sans-serif;
    font-size: 40px;
    color: black;
}

.aboutus-school-info{
    font-family: "SF Pro Display",
            "SF Pro Icons",
            "Helvetica Neue",
            "Helvetica",
            "Arial",
            sans-serif;
    color: #787575;
}
