.body-color {
    background: #e6e3e3;
    font-family: Arial, Helvetica, sans-serif;
}
.body-box_iphone{
    background-color: #ffffff;
    padding-bottom: 10px;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 25%);
    border-radius: 8px;
    padding: 0%;
    width: 100%;
    height: auto;
}
.body-box_iphon_detail{
    background-color: #ffffff;
    padding-bottom: 10px;
    padding: 0%;
    width: 100%;
    height: auto;
}
.body-box_samsung{
        background-color: #ffffff;
        padding-bottom: 10px;
        box-shadow: 0 1px 8px 0 rgb(0 0 0 / 25%);
        border-radius: 8px;
        padding: 0%;
        width: 100%;
        height: auto;
}
.body-box1{
    background-color: #ffffff;
    width: 100%;
    height: 345px;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 25%);
    border-radius: 8px;
}
.body-box2{
    background-color: #ffffff;
    width: 105%;
    height: 345px;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 25%);
    border-radius: 8px;
}
ul{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
/* Section Header */
.top-bar {
    background: #ffffff;
    padding: 2px;
}
.logo a img{
    width: 70px;
    margin-top: 8px;
}
.menu_bar {
    background: #c14794;
    width: 100%;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 25%);
}
.nav-items .nav-link{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Heebo", sans-serif;;
}

.navbar li a:hover{
    color: #000000;
    cursor: pointer;
    border-bottom: 2px solid #cad0ff;
    text-transform: 0,0.3;
    border-radius: 5px;
    padding: 4px;
    transition: 0.3s;
}
.header-icons ul li a {
    color: rgb(255, 255, 255);
    display: block;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    line-height: 38px;
    text-align: center;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c14794;
    margin-top: 15px;
    }
.header-icons ul li:hover > a {
    color: #c14794;
    display: block;
    font-size: 30px;
    transform: 0.3s;
    font-weight: bold;
    height: 50px;
    line-height: 38px;
    text-align: center;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 2px solid #c14794;
    margin-top: 15px;
    }
.header-icons ul li a .bi .bi-facebook{
    font-size: 40px;
}
.header-icons ul li{
    display: inline-block;
}
.header-contact {
    padding-top: 22px;
    padding-left: 0px;
    line-height: 18px;
    cursor: pointer;
}
.header-contact .list-contact a{
    text-decoration: none;
    line-height: 2px;
    font-size: 12px;
}

/* Section Slides */
.slide-container{
    background-color: white;
    width: 100%;
    height: 640px;
    position: relative;
    overflow: hidden;
}
.slide-box .slide{
    width: 100%;
    height: 640px;
    max-height: 640px;
    margin: 0%;
    background-color: #c14794;
    float: left;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slide-box .btn-slide{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    background-color: rgb(0, 0, 0,0.5);
    color: #ffff;
    text-align: center;
    padding: 20px 10px;
    cursor: pointer;
}
.slide-box .btn-slide:hover{
    background-color: #c14794;
}
.slide-box .btn-back{
    left: 0;
}
.slide-box .btn-next{
    right: 0;
}
.page-slide{
    position: absolute;
    left: 50%;
    bottom: 10px;
    background-color: rgb(0, 0, 0,0.5);
    border-radius: 5px;
    padding: 5px 8px;
    transform: translate(-50%,0);
}
.page-slide ul li{
    float: left;
    width: 20px;
    height: 20px;
    background-color: rgb(239, 239, 239);
    border-radius: 50%;
    list-style: none;
    font-size: 11px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    margin: 2px;
}
.page-slide ul li:hover{
    float: left;
    width: 20px;
    height: 20px;
    background-color: crimson;
    border-radius: 50%;
    list-style: none;
    font-size: 11px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    margin: 2px;
    color: #ffffff;
    transition: 0.3s;
}
.active-slide{
    background-color: crimson !important;
    color: #ffffff;
}
/* Section Product */
.deviceBox{
    padding: 5px;
    border-radius: 8px;
    transition: 0.3s;
}
.deviceBox:hover{
    transition: 0.3s;
    margin-top: -15px;
}
.deviceBox .imgWrp img{
    margin-bottom: 20px;
    width: 60%;
    margin-left: 40px;
}
.deviceBox .txtWrp h3{
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    color: #009a3e;
    margin: 0;
    margin-bottom: 8px;
    text-align: center;
}
.deviceBox .txtWrp p{
    text-align: center;
}
.deviceBox .txtWrp strong{
    color: #c14794;
    font-weight: bolder;
}
.deviceBox  .button-details:hover{
    background-color: #c14794;
    color: #ffffff;
    font-weight: bold;
}
/* Sesstion Service */
.title_service{
    color:  #ffffff;
    background-color: #c14794;
    font-size: 30px;
    font-weight: bold;
    border-spacing: 1px;
    padding: 10px;
}
.link_title h2{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    text-align: center;
    border-bottom: 4px solid #c14794;
    padding: 20px;
}
.link_title h2 a{
    color: #ff6565;
}
.link_title h2 a:hover{
    color: #c14794;
    cursor: pointer;
}
.Wrp_product{
    padding: 15px;
}
.image_product img{
    width: 100%;
    height: 848px;
    float: right;
    margin-right: 0;
    border-radius: 8px 0 0 8px;
}
.image_product_samsung img{
    width: 100%;
    height: 873px;
    float: right;
    margin-right: 0;
    border-radius: 8px 0 0 8px;
}
/* Section Vivoo and Oppoo */
.link_title_box h2{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    color: #ff6565;
    text-align: center;
    border-bottom: 4px solid #c14794;
    padding: 10px;
}
.deviceBoxV_O{
    padding: 5px;
    border-radius: 8px;
    transition: 0.3s;
}
.deviceBoxV_O:hover{
    transition: 0.3s;
    margin-top: -10px;
}
.deviceBoxV_O .imgWrp img{
    margin-bottom: 20px;
    width: 60%;
    margin-left: 20px;
}
.deviceBoxV_O .txtWrp h3{
    font-weight: bold;
    text-decoration: none;
    font-size: 10px;
    color: #009a3e;
    margin: 0;
    margin-bottom: 8px;
    text-align: center;
}
.deviceBoxV_O .txtWrp p{
    text-align: center;
}
.deviceBoxV_O .txtWrp strong{
    color: #c14794;
    font-weight: bolder;
    font-size: 14px;
}
.deviceBoxV_O  .button-details:hover{
    background-color: #c14794;
    color: #ffffff;
    font-weight: bold;
}

/* Section Style Detail Box */
.detail_box1{
    background-color: #28648c;
    padding-left: 23px;
}
.detail_box1 .txt h1{
    margin-top: 40px;
    font-weight: bold;
    font-size: 40px;
    color: #ffffff;
}
.description h1{
    margin-top: 40px;
    font-weight: bold;
    font-size: 40px;
    color: #ffffff;
    border-bottom: 3px solid #cad0ff;
}
.detail_box1 .txt p{
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
}
.detail_box1 .payPlan tbody strong{
    color: #ffd300;
    font-weight: 700;
    font-size: 40px;
}
.detail_box1 .payPlan tbody p{
    color: #ffffff;
    font-size: 18px;
    margin-top: -10px;
}
.detail_txt{
    padding-top: 10px;
    padding-left: 20px;
}
.des_txt p{
    color: #ffffff;
    font-size: 15px;

}
.detail_txt h5{
    font-size: 15px;
    color: #ffffff;
    margin: 0 -10px;
}
.detail_txt strong{
    color: #ffd300;
    font-weight: 700;
    font-size: 20px;
    margin: 0 -10px;
}
.cta{
    color: #ffffff;
    background-color: #ff91d6;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}
.cta:hover{
    background-color: #c14794;
    color: #ffffff;
}
.box2{
    background-color: #ffffff;
}
.detail_box2{
    background-color: #ffffff;
    padding: 70px;
}
.detail_box2 img{
    align-items: center;
    width: 100%;
    margin:auto;
}
.bg-fill{
    background-color: #F5F7FA;
    padding: 15px;
    border-radius: 8px;
}
.text-primary{
    color: #144194 !important;
}
.team h2{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    color: #ff6565;
    text-align: center;
    padding: 20px;
}
.b_team{
    border-bottom: 1px solid #c14794;
}
/* Team Member */
.profile{
    background-color: #ffffff;
    box-shadow: 1px 1px 3px 3px rgb(0 0 0 / 8%);
    padding: 8px;
    margin-top: 80px;
    border-radius: 25px;
}
.profile img{
    width: 150px;
    border-radius: 50%;
    align-items: center;
    border: 3px solid#ff91d6;
    padding: 5px;
    margin-top: -84px;
}
.title_profile{
    text-align: center;
    margin-top: 13px;
}
.title_profile p{
    font-size: 15px;
    color: #bababa;
}
.title_profile p strong{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}
.team-social ul li {
    display: inline-block;
    }

.team-social ul li a {
    color: rgb(255, 255, 255);
    display: block;
    font-size: 30px;
    height: 60px;
    line-height: 30px;
    text-align: center;
    width: 60px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c14794;
    }











/* Section Foodter */
.footer-area {
    padding: 40px 0 20px 0px;
    background: #c14794;
  }
  
.footer-head p {
    color: #ffffff;
    font-size: 14px;
    text-align: justify;
}
.footer-head h4 {
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 2px;
    padding-bottom: 10px;
    font-weight: bold;
    text-align: justify;
    text-transform: uppercase;
}
  
.footer-logo {
    padding-bottom: 20px;
}

.footer-logo h2 {
    color: #222;
    padding: 0;
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
    }
  
.footer-logo h2 span {
    color: #3ec1d5;
    }

.footer-icons ul li {
    display: inline-block;
    }

.footer-icons ul li a {
    color: rgb(219, 219, 219);
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c14794;
    }
.footer-icons ul li a i {
    line-height: 0;
    }

.footer-icons {
    margin-top: 30px;
    }
.contact a{
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
}
.footer-contacts p span {
    color: #ffffff;
    font-weight: 700;
    }
.footer-contacts .icons{
    color: rgb(219, 219, 219);
    padding: 11px;
    display: inline-block;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #ffffff;
}
.footer-contacts .icons:hover{
    background: #f94bb9;
    border: 2px solid rgb(255, 255, 255);
    color: #fff;
}
.popular-tag ul li {
    display: inline-block;
    }

.footer-content {
    display: block;
    overflow: hidden;
    }

.popular-tag ul li a:hover, .footer-icons ul li a:hover {
    background: #f94bb9;
    border: 2px solid rgb(255, 255, 255);
    color: #fff;
    }

.popular-tag ul li a {
    border: 1px solid #444;
    border-radius: 30px;
    color: #444;
    font-size: 13px;
    display: block;
    font-weight: 600;
    margin: 5px 3px;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.4s ease 0s;
    width: 70px;
    }

.footer-area-bottom {
    background: #f9f9f9 none repeat scroll 0 0;
    padding: 15px 0;
    }

.copyright-text a:hover {
    text-decoration: underline;
    color: #3EC1D5;
    }

.copyright-text a {
    color: #444;
    }

.copyright > p {
    margin-bottom: 0;
    color: #c14794;
    }

.copyright a, .credits a {
    color: #ffd518;
    }

.credits {
    padding-top: 5px;
    text-align: center;
    }


.secondhand-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.secondhand-wrapper > div {
    padding: 2em;
}

.secondhand-wrapper-item{
    background-color: white;
    margin:5px;
    border-radius: 10px;
}

.secondhand-wrapper-item:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.secondhand-wrapper-img {
    height: 12em;
}

.secondhand-price{
    color: #ff6565;
    font-size: 20px;
    font-weight: 600;
}

.specialoffer-discount {
    text-align: right;
    font-weight: 600;
}

.specialoffer-price{
    text-align: right;
}

.specialoffer-finalprice{
    background-color: #c14794;
    width:5em;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    font-family: "Google Sans",
        "Roboto",
        "Arial",
        sans-serif;
    color: white;
}

.specialoffer-deadline{
    text-align:left;
    float: left;
    color: #b55721;
}

.specialoffer-font{
font-family: "Google Sans",
        "Roboto",
        "Arial",
        sans-serif;
}

.specialoffer-title{
    font-size: 18px;
    font-weight: 600;
    color: #444;
}

.news-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
    

.news-wrapper-p {
    overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        /* number of lines to show */
        line-clamp: 4;
        -webkit-box-orient: vertical;
}

.news-a{
    color: white;
    background-color: #c14794;
}

.news-a:hover{
    background-color: #ff6565;
    color: white;
}

.mhr{
    color: #f94bb9;
    height: 5px;
    border: none;
    size: 5px;
    background-color: #f94bb9;
}