.pixel-card {
    font-family: "Google Sans",
        "Roboto",
        "Arial",
        sans-serif;
    width:13rem;
    border-radius: 3em;
    margin: 1em;
}

.smallHeading{
    font-family: "Google Sans",
            "Roboto",
            "Arial",
            sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.card:hover{
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.normal-font {
    color: #3c4043;
    font-family: "Google Sans", "Roboto", "Arial", sans-serif;
}

.heading{
    font-size: 2rem;
    font-weight: 700;
}